
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//fonts.googleapis.com/css?family=Nunito:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
    <!-- //web fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/web/assets/css/style-starter.css">
</head>
<body>
    <div class="w3l-content-photo-5 py-5" id="about">
        <div class="content-main pt-lg-5 pt-md-3 pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 content-photo">
                        <a href="#"><img src="~/web/IMG_20200212_000144_039.jpg" class="img-fluid" alt="content-photo"></a>
                    </div>
                    <div class="col-lg-7 content-left mt-lg-0 mt-5 pl-lg-5">
                        <h3>If there is an important job for you, you should get into it despite all the difficulties.</h3>
                        <p class="mb-0">
                            I am a 4th grade student at Aksaray University Industrial Engineering. I'm interested in the software. I want to improve myself in the field of software and work in this field in the future.

                            I am interested in ASP.Net Mvc, Sql, Ms Office Ms Excel Vba, C #, Node.js, Matlab, Arduino, PostgreSql, Wordpress programs. I am currently developing Web Projects with Mvc, in addition to working with PostgreSql.
                        </p>
                        <a href="https://www.bedirhanerkilic.com/" class="btn-theme2 btn mt-lg-5 mt-4">About Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/web/assets/js/jquery-3.3.1.min.js"></script>
    <!-- //footer-28 block -->
    </section>

    <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <!-- Smooth scrolling -->



</body>

</html>
<!-- // grids block 5 -->
