
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/webcontact/css/style.css">
</head>

<body>
    <!-- contact -->
    <section class="w3l-contact-5">
        <div class="contact-top section-gap">
            <div class="wrapper">
                <div class="d-grid cont-main-top">
                    <!-- contact form -->
                    <div class="contacts12-main" style="margin-left:450px">
                        <h3 class="title-main-cont">Get In Touch</h3>

                        <div class="cont-add">
                            <h4>Address:</h4>
                            <p class="contact-text-sub">Yozgat / Merkez</p>
                        </div>
                        <div class="cont-add">
                            <h4>Email:</h4>
                            <a href="erkilicbedirhan@gmail.com">
                                erkilicbedirhan@gmail.com
                            </a>
                        </div>
                        <div class="cont-add">
                            <h4>Phone:</h4>
                            <a>
                                0539 899 55 45
                            </a>
                        </div>
                    </div>

                    
                </div>
            </div>
            <!-- map -->
            <div class="map">
                <iframe src="https://www.google.com/maps/d/embed?mid=1GzjgAz-p5w2GKhYma9qxCmeXDEUEqlhJ" width="640" height="480"></iframe>
            </div>
            <!-- //map -->
        </div>
    </section>
    <!-- //contact -->
</body>

</html>
