
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ADMİN DASHBOARD</title>
    WELCOME, THİS PLACE İS LAYOUT
</head>
<body>
    @RenderBody()
</body>
</html>
